body {
  background-color: rgb(95, 79, 110);
  font-family: "Yugioh", serif;
  background-image: url(src/imagens/fundo-site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 15px;
  overflow: hidden;
}

.cabecalho {
  /*background-color: rgb(95, 79, 110);*/
  display: flex;
  justify-content: center;
}

.cabecalho .titulo {
  color: white;
  font-size: 30px;
  padding: 5px;
}

.cartao {
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  position: absolute;
  transform: scale(90%);
}

.cartao.selecionado {
  opacity: 1;
  z-index: 1;
}

.lista-personagens {
  width: 300px;
  height: 500px;
  position: relative;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

.cartao .nome {
  font-size: 13px;
  padding: 5px;
  text-transform: uppercase;
  background: radial-gradient(
    circle,
    rgb(255, 241, 181) 10%,
    rgba(255, 255, 255, 1) 90%
  );
  border: 2px solid rgba(65, 57, 57, 0.356);
  border-radius: 10px;
}

.cartao .estrela {
  width: 20px;
  height: 20px;
  background-image: url(src/imagens/nivel-carta.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
.cartao .nivel-carta {
  margin: 0 5px;
  background-color: rgba(167, 154, 128, 0.163);
  display: flex;
  justify-content: flex-end;
  border-radius: 3px;
  border: 2px solid rgba(65, 57, 57, 0.356);
  gap: 3px;
}

.cartao .imagem-carta {
  max-width: 260px;
  align-self: center;
}

.cartao .informacoes {
  border-radius: 5px;
  max-width: 300px;
  color: black;
  background: radial-gradient(
    circle,
    rgb(255, 241, 181) 10%,
    rgba(255, 255, 255, 1) 90%
  );
  border: 2px solid rgba(65, 57, 57, 0.356);
  text-align: left;
  line-height: 1.5;
  padding: 5px;
}

.cartao .informacoes .informacoes-ataque {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
}

.cartao .informacoes .informacoes-ataque span {
  font-size: 13px;
}

.cartao .informacoes .descricao {
  border-bottom: 1px solid black;
  padding: 10px;
  max-height: 95px;
  overflow-y: scroll;
  font-size: 13px;
}

.fundo-1 {
  background: url(src/imagens/fundo-1.jpg) no-repeat;
}

.fundo-2 {
  background: url(src/imagens/fundo-2.jpg) no-repeat;
}

.fundo-3 {
  background: url(src/imagens/fundo-3.jpg) no-repeat;
}

.fundo-4 {
  background: url(src/imagens/fundo-4.jpg) no-repeat;
}

.fundo-5 {
  background: url(src/imagens/fundo-5.jpg) no-repeat;
}

.fundo-6 {
  background: url(src/imagens/fundo-6.jpg) no-repeat;
}

.fundo-7 {
  background: url(src/imagens/fundo-7.jpg) no-repeat;
}

.btn-seta {
  background-color: rgb(243, 240, 235);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-seta:hover {
  background-color: rgb(219, 108, 239) !important;
}

.btn-voltar {
  transform: rotateY(180deg);
}

body::-webkit-scrollbar-track {
  background-color: rgb(201, 173, 116);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(201, 173, 116);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(221, 198, 153);
}
